{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">

  <head>
      <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Gallery | All Works</title>

      {% include 'children/head.html' %}


  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="cursor-outer d-none d-md-block"></div>
      <nav class="navbar navbar-light py-3 px-0 overflow-hidden">
        <div class="container px-md-5">
          <div class="row w-100 g-0 justify-content-between">
            <div class="col-8">
              <div class="d-inline-block"><a class="navbar-brand pt-0 fs-3 text-black d-flex align-items-center" href="{% url 'landingpage' %}"><img width="80" class="img-fluid" src="{% static 'assets/img/icons/logo2.png'  %}" alt="" /></a></div>
              <div class="mt-4 d-none d-lg-block">
                <h1 id="studio-title1" class="text-uppercase fs-lg-7 fs-5 fw-bolder text-300 lh-1 position-relative z-index-0">PIINK</h1>
                <h1 id="studio-title2" class="d-none d-md-block fw-bolder text-outlined fs-7 text-white lh-1 mt-n4 position-relative z-index--1">Tattoo Studio</h1>
              </div>
            </div>
            <div class="col-4 d-lg-none text-end pe-0">
              <button class="btn p-0 shadow-none text-black fs-2 d-inline-block" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvas" aria-controls="navbarOffcanvas" aria-expanded="false" aria-label="Toggle offcanvas navigation"><span class="menu-bar"></span></button>
            </div>
            <div class="offcanvas offcanvas-end px-0" id="navbarOffcanvas" aria-labelledby="navbarOffcanvasTitle" aria-hidden="true">
              <div class="offcanvas-header justify-content-end">
                <h5 class="visually-hidden offcanvas-title" id="navbarOffcanvasTitle">Menu</h5>
                <button class="btn p-0 shadow-none text-black fs-2 d-inline text-end" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="menu-close-bar"></span></button>
              </div>
              <div class="offcanvas-body px-0">
                <div class="d-lg-flex flex-center-start gap-3 overflow-hidden">
                  <ul class="navbar-nav ms-auto fs-4 ps-6">
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5" aria-current="page" href="{% url 'landingpage' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link d-inline-block nav-text-outlined lh-1 text-white fs-5 active" aria-current="page" href="{% url 'gallery' %}">Gallery</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="d-none d-lg-flex justify-content-end position-relative z-index-1">
                <div class="position-absolute absolute-centered z-index--1">
                  <h1 class="ms-2 fw-bolder text-outlined text-uppercase text-white pe-none display-1">Gallery</h1>
                </div>
                <div class="d-flex gap-3 align-items-start"><a class="mb-0 ms-auto text-warning fs-0 fw-bold text-uppercase" href="{% url 'contacto' %}">Contactame</a>
                  <ul id="nav-active" class="navbar-nav navbar-fotogency ms-auto text-end">
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0" aria-current="page" href="{% url 'landingpage' %}">Home</a></li>
                    <li class="nav-item px-2 position-relative"><a class="nav-link pt-0 active" aria-current="page" href="{% url 'gallery' %}">Gallery</a></li>
                    <br><br><br><br><br>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row g-0 mt-4 d-lg-none">
            <h1 id="studio-title1" class="text-uppercase ps-0 fs-lg-7 fs-5 fw-bolder text-300 lh-1 position-relative z-index-0">PIINK</h1>
            <h1 id="studio-title2" class="fw-bolder text-outlined ps-0 fs-lg-7 fs-sm-6 fs-5 text-white lh-1 mt-sm-n4 mt-n3 position-relative z-index--1">Gallery</h1>
          </div>
        </div>
      </nav>
      <section class="pt-3 pb-9 position-relative">
        <div class="container px-md-5">
          <div class="position-md-absolute start-0 ms-2 mt-3 mb-4">
            <ul class="nav gallery-tab d-flex gap-3" data-filter-nav="data-filter-nav">
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav active" href="#!" data-filter="*">Todos</a></li>
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav" href="#!" data-filter=".anime">Anime/Caricatura</a></li>
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav" href="#!" data-filter=".simbolismo">Simbolismos</a></li>
              <li class="nav-item"><a class="nav-link p-0 py-md-2 isotope-nav" href="#!" data-filter=".otro">Otro</a></li>
            </ul>
          </div>
          <div class="row g-3" data-isotope='{"layoutMode":"packery"}'>
            <div class="col-lg-3 col-sm-6 col-12 anime gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/1.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-3 col-sm-6 col-12 anime gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/2.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-6 col-12 otro gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/3.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-6 col-12 simbolismo gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/4.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-3 col-sm-6 col-12 simbolismo gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/5.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-3 col-sm-6 col-12 simbolismo gallery-item isotope-item"><img class="img-fluid w-100" src="{% static 'assets/img/gallery/6.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-3 col-sm-6 col-12 otro gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/7.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-3 col-sm-6 col-12 anime gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/8.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
            <div class="col-lg-6 col-12 otro gallery-item isotope-item"><img class="img-fluid w-100" src="{% static  'assets/img/gallery/9.png' %}" alt="" data-glightbox="title: Echale un vistazo a mi instagram; description: @piinktatu" /></div>
          </div>
        </div>
      </section>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    {% include 'children/footer.html' %}

  </body>

</html>